XML/xsd/Ville.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <!-- Élément racine : ville -->
    <xs:element name="ville">
        <xs:complexType>
            <xs:sequence>
                <!-- Élément descriptif -->
                <xs:element name="descriptif" type="xs:string"/>
                
                <!-- Élément sites -->
                <xs:element name="sites">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="site" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="nom" type="xs:string" use="required"/>
                                    <xs:attribute name="photo" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <!-- Élément hotels -->
                <xs:element name="hotels">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="hotel" type="xs:string" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <!-- Élément restaurants -->
                <xs:element name="restaurants">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="restaurant" type="xs:string" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <!-- Élément gares -->
                <xs:element name="gares">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="gare" type="xs:string" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <!-- Élément aéroports -->
                <xs:element name="aéroports">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="aéroport" type="xs:string" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <!-- Attribut nom -->
            <xs:attribute name="nom" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
